.grid-container {
  display: grid;
  grid-template-columns: 150px 250px;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 20px;
  justify-content: center;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: aqua;
}

.grid-item-2 {
  background-color: pink;
  grid-row: span 2;
}

.grid-item-3 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: span 2;
  background-color: yellow;
}

.grid-item-4 {
  background-color: red;
  grid-column: span 2;
}

.grid-item-5 {
  background-color: green;
}
