.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-auto-rows: minmax(150px, auto);
}

.grid-item-1 {
  background-color: aqua;
}

.grid-item-2 {
  background-color: pink;
}

.grid-item-3 {
  background-color: yellow;
}

.grid-item-4 {
  background-color: red;
}

.grid-item-5 {
  background-color: green;
}
